@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.header__wrapper {
    @apply flex;
    @apply justify-between;
    @apply items-center;
}

.header__logo {
    cursor: pointer;
}

.header__navItem {
    @apply relative;
}

.header__navItem::after {
    content: '';
    @apply w-0;
    @apply block;
    @apply h-1;
    @apply bg-orange-400;
    @apply rounded;
    @apply absolute;
    @apply bottom-2;
    @apply left-0;
}

/*footer*/
.footer__wrapper {
    @apply relative;
    color: #fff;
    font-weight: bold;
    background: url('https://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg');
}


.carousel__wrapper:hover button:first-child {
    opacity: 1;
}

.slick-dots {
    bottom: 78px !important;
}

.slick-dots li {
    width: 30px !important;
    margin:0 6px !important;
}
.slick-dots li button {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50% !important;
    background-color: orange !important;
}

.my-btn {
    @apply bg-orange-500 text-xl text-white rounded-sm py-1 px-2 transition-all;
    @apply hover:bg-orange-400
}

.my-select {
    @apply relative
}

.my-select::after {
    content: '';
    width: 2px;
    @apply block h-full bg-orange-500 absolute top-0 -right-9
}

.my-select:last-child {
    @apply mr-9
}

.w-my {
    width: 60% !important;
}

.carouselFilm__wrapper {
    /* background-color: red; */
    /* padding: 16px; */
}

.my-test .slick-dots {
    bottom: -40px !important;
}

.grid {
    display: grid !important;
}

.my-text {
    font-size: 16px;
}

.my-btn.full-width {
    width: 100%;
}

.sub__wrapper,.hover-btn {
    transition: .2s linear all;
}

.hover-btn {
    opacity: 0;
}

.filmItem__wrapper:hover .sub__wrapper {
    opacity: 0;
}

.filmItem__wrapper:hover .hover-btn {
    opacity: 1;
}

.ant-tabs-tab {
    opacity: .7 !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
    opacity: 1 !important;
}

.dayTime__wrapper p {
    transition: .2s linear all;
    cursor: pointer;
}

.dayTime__wrapper:hover p {
    font-size: 16px !important;
}

.detail__wrapper {
    max-height: 500px;
}
 .detail__banner-wrapper {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    z-index: -1;
 }

 .detail__img {
    border: 3px solid orangered;
    border-radius: 5px;
    height: 400px;
    width: 300px;
 }

.detail__banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top right;
    opacity: .8;
}

.detail__info-wrapper {
    background: rgba( 14, 14, 14, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 3px solid orangered;
    padding: 24px;
}

.cta-btn {
    background-color: orangered;
    border-radius: 5px;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
}

.picker__wrapper {
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 19.5px );
-webkit-backdrop-filter: blur( 19.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.datetime {
    background: rgba( 14, 14, 14, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    padding: 8px;
}

.my-seat {
    background-color: #dedede;
    margin: 6px;
    /* width: 30px;
    height: 30px; */
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s linear;
}

.my-seat:hover {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );;
}

.my-seat.unactive {
    background-color: rgba(0, 0, 0, .7);
    cursor: no-drop;
}

.my-seat.vip {
    background-color: orange;
}

.my-seat.active {
    background-color: green;
}

.my-checkInfo {
    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 10px;
}

.my-checkInfo h1 {

}

.my-ul-checkInfo li {
    padding: 16px 4px;
    margin: 8px 0;
}

.my-li-checkInfo {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.my-li-checkInfo span {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.my-li-checkInfo::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dedede;
    position: absolute;
    bottom: 0;
    left:0;
}

.my-div-checkInfo span {
    display: inline;
}

.cta-btn.checkInfo {
    width: 100%;
}